* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

section {
	width: 100%;
	padding: 80px 0;
}

nav {
	background-color: beige;
}

.nav-list {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-link a {
	display: inline-block;
	padding: 20px;
	font-size: 18px;
	text-decoration: none;
	color: black;
}

.home-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 96px;
}

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 44px;
}

.slider-container {
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	position: relative;
}

.slider-img {
	transition: 2.5s;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slider-bullets {
	display: flex;
	gap: 10px;
	align-items: center;
}

.bullet {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #eee;
	transition: 0.5s;
}
.bullet.active {
	background-color: #aaa;
}

.about-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 65%;
	margin: 0 auto;
}

.about-section img {
	height: 500px;
	border-radius: 20px;
}

.about-section p {
	font-size: 20px;
	width: 60%;
}

.registeration-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 80%;
}

input:not([type='radio']):not([type='checkbox']),
select {
	width: 300px;
	padding: 10px 20px;
	border-radius: 20px;
	border: 1px solid #111;
}

form > label {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

button {
	padding: 10px 20px;
	border-radius: 50px;
	background-color: black;
	color: #fff;
	border: none;
}
